.popup-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: center;
}

.popup-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.buttons-title {
  font-size: 13px;
  margin-bottom: 5px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.page-ruler-button {
  border-radius: 6px !important;
  font-size: 13px !important;
  position: fixed !important;
  left: 10px !important;
  z-index: 9999 !important;
  color: white !important;
  border: none !important;
  padding: 10px !important;
  cursor: pointer !important;
}

.page-ruler-button:hover {
  filter: brightness(0.9);
}

.page-ruler-line {
  position: absolute;
  z-index: 9999;
  cursor: move;
}

.page-ruler-line--horizontal {
  background-color: red;
  width: 100%;
  height: 2px;
}

.page-ruler-line--vertical {
  background-color: blue;
  width: 2px;
  height: 100%;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 6px;
  font-size: 13px;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
